body {
  margin: 0px;
  box-sizing: border-box;
}
main {
  margin-top: 108px;
  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
}
div.header {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  justify-content: space-around;
  align-items: center;
}
img.Logo {
  margin-top: 30px;
  flex: 1;
}
img.Logo:hover {
  opacity: 80%;
}
img.image {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
div.imgWrap {
  display: flex;
  width: 250px;
  height: 400px;
  align-items: center;
  z-index: -20;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 3px solid rgba(249, 249, 249, 0.1);
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 80%) 0px 20px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
div.imgWrap:hover {
  transform: scale(1.02);

  border-color: rgba(249, 249, 249, 0.8);
}
div.cardsCont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
div.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 28px;
  height: 440px;
}
h4.title {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(13, 16, 42);
}
div.price {
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
div.cat {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: right;
  padding-top: 5px;
  font-size: 12px;
  padding-bottom: 5px;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

  z-index: -5;

  margin-bottom: 0px;
}
div.mens {
  background: rgb(88, 170, 236);
  background-image: linear-gradient(rgb(88, 170, 236), rgb(115, 197, 255));
}
div.electronics {
  background-color: rgb(22, 168, 168);
  background-image: linear-gradient(rgb(22, 168, 168), rgb(32, 66, 66));
}
div.jewelery {
  color: rgb(152, 152, 152);
  background: rgb(147, 147, 147);
  background-image: linear-gradient(rgb(246, 246, 246), rgb(203, 203, 203));
}
div.women {
  background: rgb(90, 13, 52);
  background-image: linear-gradient(rgb(185, 61, 123), rgb(193, 21, 162));
}
div.content {
  width: 100%;
  text-align: center;
}
img.singleImg {
  width: 300px;
  box-shadow: 0px 0px 15px;
  padding: 20px;
}
div.fullPrice {
  width: 100%;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: black 2px 2px 10px;
}
div.AddToCart {
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
  background: rgb(85, 82, 82);
  padding: 10px;
  transition: all 0.3s;
}
div.AddToCart:hover {
  cursor: pointer;
  background: rgb(214, 126, 126);
}
div.cartBox {
  display: flex;
  align-items: baseline;
  font-size: 18px;
}
i.cart {
  font-size: 30px;
}
div.cartCard {
  width: 85vw;
  padding: 10px;
  box-shadow: 0px 0px 8px;

  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
h4.cartTitle {
  flex: 1;
  margin: 5px;
}
p.cartPrice {
  margin: 0px;
  margin-right: 20px;
  margin-left: 20px;
}
div.remove {
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
div.remove:hover {
  color: rgb(154, 17, 17);
  cursor: pointer;
}
div.emptyCart {
  margin-top: 50px;
  width: 80vw;
  max-width: 500px;
  box-shadow: 2px 2px 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}
div.checkBtn {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
h5.checkout {
  text-transform: uppercase;
  text-align: center;
  background: rgb(65, 185, 65);
  padding: 5px;
  display: flex;
  width: 35vw;
  color: white;
  font-weight: bold;
  justify-content: center;
  border-radius: 10px;
}
h5.checkout:hover {
  background: rgb(42, 149, 42);
  cursor: pointer;
}
div.Banner {
  height: 250px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgb(88, 170, 236), rgb(22, 27, 57));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: black inset 0px 0px 8px;
  margin-bottom: 20px;
}
h1.bannerTitle {
  font-size: 35px;
  text-transform: uppercase;
}
p.productTypes {
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgb(60, 239, 255);
}
@media only screen and (max-width: 600px) {
  p.productTypes {
    font-size: 12px;
  }
}
div.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.745);
  z-index: 20;
}
div.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: 5%;
  right: 10%;
  bottom: 0;
  left: 10%;
  z-index: 20;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 70%;
}
div.cardBox {
  margin-top: 50px;
  margin-bottom: 100px;
}
div.payPal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50px;
  border-radius: 5px;
  border: 2px solid rgb(197, 178, 56);
  background: rgb(254, 213, 64);
}
div.Cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid rgb(180, 15, 15);
  background: rgb(244, 99, 80);
}
div.Debit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50px;
  margin: 10px;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid rgb(68, 68, 68);
  background: rgb(0, 0, 0);
}
div.opacityH:hover {
  opacity: 60%;
  cursor: pointer;
}
i.bigShop {
  font-size: 50px;
}
div.imageMin {
  display: flex;
  align-items: center;
  margin: 10px;
}
div.search {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
}
input {
  width: 100%;
  text-align: center;
  border: none;
  height: 50px;
  margin-top: 70px;
}
div.searchQ {
  background-color: white;
  padding: 10px;
  z-index: 20;
  color: black;
}
img.DevTag {
  width: 200px;
  position: fixed;
  bottom: -1px;
  right: 0px;
  z-index: 20;
}
div.Line {
  background: rgb(59, 144, 217);
  height: 3px;
  width: 100%;
}
div.top {
  margin-top: 25px;
}
div.bottom {
  margin-bottom: 40px;
}
h3.number {
  align-content: center;
  background: white;
  border-radius: 100%;
  width: 25px;
  padding: 5px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.43) 0px 0px 5px;
  margin-top: -5px;
  z-index: 20;
}
div.carouselCont {
  background: rgba(128, 128, 128, 0.094);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(226, 225, 225);
}

div.scrollCard {
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 450px;
}
button {
  display: none;
}
